manifest {
    name            = 'rna-qc'
    author          = 'OpenAI Codex'
    homePage        = 'https://example.org/rna-qc'
    description     = 'RNA-seq technical QC pipeline for transcriptome and targeted RNA assays'
    mainScript      = 'main.nf'
    version         = '0.1.0'
    nextflowVersion = '>=24.10.0'
}

params {
    input                  = null
    input_type             = null
    assay                  = null
    panel_type             = null
    outdir                 = 'results'
    fasta                  = null
    gtf                    = null
    ref_flat               = null
    star_index             = null
    targets                = null
    housekeeping_genes     = "${projectDir}/assets/housekeeping_genes_ensembl.tsv"
    fusion_genes           = null
    positive_controls      = null
    thresholds             = "${projectDir}/conf/thresholds.yaml"
    trim_reads             = true
    strandness             = 'auto'
    save_trimmed_fastq     = true
    skip_fastqc            = false
    skip_rseqc             = true
    skip_multiqc           = false
    min_space_gb           = 10
    publish_mode           = 'copy'
    star_chimSegmentMin            = 12
    star_chimJunctionOverhangMin   = 12
    star_chimScoreMin              = 1
    star_chimScoreDropMax          = 30
    star_chimScoreSeparation       = 10
    star_chimSegmentReadGapMax     = 3
    star_alignSJDBoverhangMin      = 1
    star_alignMatesGapMax          = 100000
    star_alignIntronMax            = 1000000
    star_alignSJstitchMismatchNmax = '5 -1 5 5'
}

process {
    executor = 'local'
    cache = true
    withLabel: process_low {
        cpus = 1
        memory = '2 GB'
        time = '2h'
    }
    withLabel: process_medium {
        cpus = 2
        memory = '4 GB'
        time = '4h'
    }
    withLabel: process_high {
        cpus = 4
        memory = '8 GB'
        time = '8h'
    }
    withLabel: process_high_memory {
        cpus = 8
        memory = '32 GB'
        time = '16h'
    }
    withName: '.*FASTQC$' {
        container = 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'
    }
    withName: '.*FASTP$' {
        container = 'quay.io/biocontainers/fastp:0.24.0--heae3180_1'
    }
    withName: '.*STAR_ALIGN$' {
        container = 'quay.io/biocontainers/star:2.7.11b--h5ca1c30_4'
    }
    withName: '.*SAMTOOLS_(FLAGSTAT|STATS|INDEX)_MODULE$' {
        container = 'quay.io/biocontainers/samtools:1.22.1--h96c455f_0'
    }
    withName: '.*PICARD_.*_MODULE$' {
        container = 'quay.io/biocontainers/picard:3.4.0--hdfd78af_0'
    }
    withName: '.*FEATURECOUNTS_MODULE$' {
        container = 'quay.io/biocontainers/subread:2.1.1--h577a1d6_0'
    }
    withName: '.*RSEQC_TRANSCRIPTOME$' {
        container = 'quay.io/biocontainers/rseqc:5.0.4--pyhdfd78af_0'
    }
    withName: '.*MOSDEPTH_MODULE$' {
        container = 'quay.io/biocontainers/mosdepth:0.3.11--h0ec343a_1'
    }
    withName: '.*MULTIQC_MODULE$' {
        container = 'quay.io/biocontainers/multiqc:1.30--pyhdfd78af_0'
    }
}

profiles {
    docker {
        docker.enabled = true
        singularity.enabled = false
        apptainer.enabled = false
        process.container = null
        includeConfig 'conf/docker.config'
    }
    singularity {
        docker.enabled = false
        singularity.enabled = true
        apptainer.enabled = false
        includeConfig 'conf/singularity.config'
    }
    apptainer {
        docker.enabled = false
        singularity.enabled = false
        apptainer.enabled = true
        includeConfig 'conf/singularity.config'
    }
    test {
        includeConfig 'conf/test.config'
    }
    test_panel {
        includeConfig 'conf/test_panel.config'
    }
}

includeConfig 'conf/base.config'
