params {
    input      = "${projectDir}/real_data/samplesheet_wts.csv"
    input_type = 'fastq'
    assay      = 'transcriptome'
    outdir     = "${projectDir}/real_data/results_wts"

    fasta      = '/home/bioinfo/nf-terciaria/assets/ref/hg38/hg38_v0_Homo_sapiens_assembly38.fasta'
    gtf        = "${projectDir}/references/Homo_sapiens.GRCh38.115.broad.gtf"
    ref_flat   = "${projectDir}/references/Homo_sapiens.GRCh38.115.broad.refFlat.txt"
    star_index = "${projectDir}/references/star_GRCh38_115_broad"
}

process {
    withName: '.*STAR_ALIGN$' {
        cpus = 12
        memory = '48 GB'
        time = '16h'
    }
    withName: '.*(VALIDATE_SAMPLESHEET|PARSE_.*|FUSION_READINESS|EXPRESSION_SUMMARY|HOUSEKEEPING_QC|GTF_TO_BED12|TARGET_COVERAGE_QC|CLASSIFY_QC|BUILD_SUMMARY|GENERATE_SAMPLE_REPORT|PREPARE_MULTIQC_INPUTS)$' {
        beforeScript = 'export PATH=/home/bioinfo/miniconda3/bin:$PATH'
    }
}
