params {
    input              = "${projectDir}/tests/test_samplesheet.csv"
    input_type         = 'bam'
    assay              = 'transcriptome'
    outdir             = "${projectDir}/tests/results"
    fasta              = "${projectDir}/tests/data/reference.fa"
    gtf                = "${projectDir}/tests/data/annotation.gtf"
    star_index         = "${projectDir}/tests/data/star_index"
    housekeeping_genes = "${projectDir}/assets/housekeeping_genes.tsv"
    thresholds         = "${projectDir}/conf/thresholds.yaml"
    skip_fastqc        = true
    skip_rseqc         = true
    skip_multiqc       = true
}
